<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verify</title>
</head>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');

    let request = new XMLHttpRequest();
    request.onsuccess = function () {
        document.getElementById('status').innerText = 'Verified'
    };
    request.onerror = function () {
        document.getElementById('status').innerText = 'Failed to verify'
    };
    request.open("POST", "/api/verify_email", true);
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.send("token=" + token);

</script>
<body>
<span id="status">Processing...</span>
</body>
</html>